src/main/resources/xsdws/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.poslovna.com/webservices"
	targetNamespace="http://www.poslovna.com/webservices" elementFormDefault="qualified">

	<xs:element name="getTestDataRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="indexOfTestData" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getTestDataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="testData" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>